<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snack</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    
</head>
<body>
    <div id="app">
        <main class="d-flex">
            <div>
                <a href="#" @click="generatorNumber()" class="btn btn-success mt-3 ms-3"> Clicca per generare numeri </a>

            </div>
           
            <ul>
                <li class="text-danger" v-for="number in numbersEven">
                    {{ number }}
                </li>
            </ul>
            <ul>
                <li class="text-success" v-for="number in numbersOdd">
                    {{ number }}
                </li>
            </ul>
        </main>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>
</html>